@font-face {
    font-family: 'runner';
    src: url('../font/bladerunner/BLADRMF_.TTF');
}

@font-face {
    font-family: 'orbitron';
    src: url('../font/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'orbitron-bold';
    src: url('../font/Orbitron/static/Orbitron-ExtraBold.ttf');
}

/* styling for container that displays lives count div */
.livesContainer {
    position: absolute;
    bottom: 6.5%;
    font-family: 'orbitron';
    color: white;
    padding: 10px;
    padding-right: 70px;
    font-size: 1rem;
    border: 3px solid #0abdc6;
    border-radius: 10px;
    display: none;
    gap: 10px;
}
/* provides spacing between lives count and the text 'Lives: 'in html */
#lives {
   margin-left: 10px;
}

/* adds a border radius to canvas, when html loaded the display is set to none */
canvas {
    display:none;
    border-radius: 10px;
}
/* styling to add a colored border to game board */
#game {
    border: 3px solid #0abdc6;
}

/* styling for "cynogetic arithmetic" title */
#title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 3.5rem;
    color: #ea00d9;
    border: 3px solid #0abdc6;
    box-shadow: 5px 10px 15px #ea00d9;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    font-family: 'runner';
}

/* display and styling for the body of the webpage, background set to pink and purple mix */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        0deg, rgb(222, 65, 205) 0%, 
        rgb(7, 44, 148) 100%
    );
    position: relative;
}

/* styling start up menu and game over container */
#playGame-container, #gameOver-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

/* styling for container that displays lives count div */

#playGame, #gameOver {
    margin-top: 50px;
    height: 340px;
    width: 450px;
    background: linear-gradient(
        0deg, #ea00d9 0%, 
        #133e7c 100%
    );
    padding: 20px;
    text-align: center;
    border: 3px solid #0abdc6;
    border-radius: 10px;
    position: relative;
}

/* heading styling for game over container */
#gameOver h1 {
    color: #0abdc6;
    margin-top: 3rem;
    font-size: 3rem;
    font-family: 'runner';
    text-decoration: underline;
    text-decoration-color: white;
    cursor: default;
}

/* styling form form in start game menu when page loaded */

#startgame-form {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    right: 35%;
}

/* font set to white with custom font for start game menu div */
#instructions {
    color: white;
    font-family: 'orbitron';
    line-height: 2.5rem;
}
/* sets cursor to default for instructions menu and header */
p {
    cursor: default;
}

/* styling for what controls to use in instructions prompt. color set to greenyellow */
.controls {
    color: greenyellow;
}

/* gameOver div originally set to none until game is over */
#gameOver-container {
   display: none;
 }

 /* heading in game over container styling */
#gameOver-text {
    font-family: 'orbitron-bold';
    color: rgb(60, 254, 205);
    font-weight: bold;
    text-decoration: underline;
}

/* span styling for instructions in start game menu */
#wrongAnswers {
    text-decoration: underline;
}

/* styling for start game button and game over button */
#start-btn, #gameOver button {
    padding: 20px 40px;
    font-size: 1rem;
    font-family: 'runner';
    border-radius: 3px;
    background-color: greenyellow;
    cursor: pointer;
}
/* extra styling for game over button */
#gameOver button {
    font-family: 'orbitron';
    font-size: 1.2rem;
    margin-top: 5rem;
    background-color: #133e7c;
    color: greenyellow;
    border-radius: 5px;
}

/* styling for game over text to check console */
#consoleCheck {
    font-family: 'orbitron';
    font-size: 1rem;
    padding-top: 30px;
    color: white;
}